
body {
    margin:0;
    /* background-size: cover;
    background-position: 50% 50%; */
    position: relative;
}

.wrapper{
    width: 100%;
    height:100%;
}
.wrapper div{
    height:100%;
    width:100%;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top:0;
    left:0;
    background-color: pink;
    z-index: -1;
}
.wrapper div:not(:first-child) {
    display: none;
  }

header {
    background-color:white;
    opacity: 0.4;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right:0;
}

.headerTitle {
    font-size: 40px;
    font-family: 'Caveat', cursive;
    margin: 2px;
    margin-left: 20px;
    
}

.headerList {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

header ul li {
    list-style: none;
    margin: 0 30px;
    margin-top: 4px;
}

a {
    text-decoration: none;
    color: black;
    position: relative;
}
a::after {
    position: absolute;
    bottom: -5px;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: #ffff00;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    border-bottom: 2px;
  }
  a:hover {
      color:#ffff00;
  }
  a:hover::after {
    width: 100%;
  }